<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script>
    /*Use Cases*/
    /*
    1. Add a bug - done
    2. List the bugs - done
    3. Toggle the completion status of the bugs - done
    3.5 Remove closed bugs - done
    4. Display statistics ( closed / total ) - done
    5. Search for a bug
    6. Sort the bugs
    7. Improvise on how the bug is displayed
    8. Display the createdAt time
    9. Persist the bugs in the server
    10. Repeat 1-9 for 'Project'
    */
    </script>
    <style>
        .closed {
            color : red;
            text-decoration: line-through;
            font-style: italic;
            font-weight: bold;
        }
        div {
            margin-bottom: 10px;
        }
        li{
            cursor: pointer;
        }
    </style>
    <script src="angular.js"></script>
    <script>
        var bugTrackerApp = angular.module("bugTrackerApp", []);

        function Bug(name, isClosed){
            this.name = name;
            this.isClosed = isClosed;
        }


        bugTrackerApp.controller("bugsController", function($scope){
            $scope.bugs = [
                new Bug('stack overflow error', true ),
                new Bug('object reference not set to an instance of an object', false),
                new Bug('undefined is not a function', true ),
                new Bug('garbage collector execution error', false )
            ];
            $scope.newBug = '';
            $scope.addBug = function(){
                var newBug = new Bug($scope.newBug,false);
                $scope.bugs.push(newBug);
            };
            $scope.toggle = function(bug){
                bug.isClosed = !bug.isClosed;
            };
            $scope.getClosedCount = function(){
                return $scope.bugs.filter(function (bug){
                    return bug.isClosed;
                }).length;
            };
            $scope.removeClosed = function(){
                for(var i= $scope.bugs.length -1; i>=0; i--){
                    var bug = $scope.bugs[i];
                    if (bug.isClosed)
                        $scope.bugs.splice(i,1);
                }
            };


        });

    </script>
</head>
<body ng-app="bugTrackerApp">
    <h1>Bug Tracker</h1>
    <div class="content" ng-controller="bugsController">
        <div class="stats">
        <span class="closed">{{getClosedCount()}}</span>
        /
        <span>{{bugs.length}}</span></div>
        <div class="search">
            <label for="">Search :</label>
            <input type="text" ng-model="searchBug.name">
            <label for="">Closed ?:</label>
            <input type="checkbox" ng-model="searchBug.isClosed">
            <input type="button" value="Show All" ng-click="searchBug.isClosed = undefined">
        </div>
        <div class="sort">
            <label for="">Sort :</label>
            <input type="text" ng-model="sortBy">
            <label for="">Descending ?:</label>
            <input type="checkbox" ng-model="sortOrderInDescending">
        </div>
        <div class="list">
            <label for="">Bug :</label>
            <input type="text" ng-model="newBug">
            <input type="button" value="Add Bug" ng-click="addBug()">
            <input type="button" value="Remove Closed" ng-click="removeClosed()">
            <ol>
                <li
                    ng-repeat="bug in bugs | filter:searchBug | orderBy:sortBy:sortOrderInDescending"
                    ng-click="toggle(bug)"
                    ng-class="{closed : bug.isClosed}"
                >{{bug}}</li>
            </ol>
        </div>
    </div>
</body>
</html>


















